<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/add.css" />
  <link rel="icon" type="image/png" href="/img/cofilogo.ico">
  <title>Create New Test Request</title>
</head>
<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-dark">
    <div class="containerNavBar">
        <a href="#" class="navbar-brand">
            <img src="img/logo.png" alt="Coficab Logo" width="120">
        </a>
        <div>
          <a href="add_new">Create New Test Request</a>
          <a href="cliente">Test Request</a>
          <span>Hello, <%= nombre %></span>
            <a href="/logout" >LOGOUT</a>
        </div>
    </div>
  </nav>
  <div class="container">
    <h2>Create New Test Request</h2>
  
    <!-- Formulario para crear solicitud -->
    <form action="/add_new" method="POST">
      <!-- Plant -->
      <section class="section">
        <label>*Plant</label>
        <select name="planta" required>
          <option>Select an option</option>
          <option>Plant A</option>
          <option>Plant B</option>
        </select>
      </section>
  
      <!-- Wire Information -->
      <section class="section">
        <h3>Wire Information</h3>
        <label>*Goal of the test request</label>
        <input type="text" name="meta" placeholder="Goal of request" required />
  
        <div class="wire-info-grid">
          <div>
            <label>*Family:</label>
            <input type="text" name="familia" required />
          </div>
          <div>
            <label>*Cross section:</label>
            <input type="text" name="calibre" required />
          </div>
          <div>
            <label>*Color:</label>
            <input type="text" name="color" required />
          </div>
        </div>
      </section>
  
      <!-- Detail Test -->
      <section class="section">
        <h3>Detail Test</h3>
        <select name="standar" required>
          <option>Select Standard</option>
          <option>UL 758</option>
          <option>ISO 17025</option>
        </select>
        <select name="tipo_prueba" required>
          <option>Select Test</option>
          <option>VW-1 Flame Test</option>
          <option>5.2.1 Cable Outside Diameter</option>
          <option>5.2.2 Insulation Thickness</option>
        </select>
      </section>
  
      <button type="submit" class="edit-btn">Save Test Request</button>
    </form>
  </div>
  
</body>
</html>
