<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/tecnico.css" />
  <link rel="icon" type="image/png" href="/img/cofilogo.ico">
  <title>Tecnico</title>
</head>
<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-dark">
    <div class="containerNavBar">
        <a href="#" class="navbar-brand">
            <img src="img/logo.png" alt="Coficab Logo" width="120">
        </a>
        <div>
          <span>Hello, Lizeth</span>
            <a href="login">LOGOUT</a>
        </div>
    </div>
  </nav>

  <!-- Container -->
  <div class="container">
    <!-- Test Request -->
    <section class="test-request-section">
      <h3>Test Request Selection</h3>
      <input type="text" placeholder="Search..." class="search-box" />
      <ul class="test-list">
        <li>TR-2024-316 <br /><span>Rec. Date: 01-30-2025</span></li>
        <li>TR-2024-317 <br /><span>Rec. Date: 01-30-2025</span></li>
        <li>TR-2024-318 <br /><span>Rec. Date: 01-30-2025</span></li>
        <li>TR-2024-319 <br /><span>Rec. Date: 01-30-2025</span></li>
      </ul>
    </section>

    <!-- Test Selection -->
    <section class="test-selection-section">
      <h3>Test Selection</h3>
      <input type="text" placeholder="Search..." class="search-box" />
      <ul class="test-list">
        <li>5.2.1 Cable Outside diameter <br /><span>Standard: ISO 18443-2</span></li>
        <li>5.2.2 Insulation Thickness <br /><span>Standard: ISO 18443-2</span></li>
      </ul>
    </section>

    <!-- Datos -->
    <section class="data-section">
      <div class="environment-data">
        <label>Temperature:</label>
        <input type="text" />
        <label>Humidity:</label>
        <input type="text" />
        <label>Atmospheric Pressure:</label>
        <input type="text" />
      </div>

      <table>
        <thead>
          <tr>
            <th>Family</th>
            <th>Cross Section</th>
            <th>Color</th>
            <th>Header</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>FLY</td>
            <td><strong>0.50 mm</strong></td>
            <td>WH</td>
            <td>Value 1 Min</td>
            <td><input type="text" /></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Value 1 Max</td>
            <td><input type="text" /></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Value 2 Min</td>
            <td><input type="text" /></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Value 2 Max</td>
            <td><input type="text" /></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Value 3 Min</td>
            <td><input type="text" /></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Value 3 Max</td>
            <td><input type="text" /></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Average</td>
            <td><input type="text" /></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Status</td>
            <td><input type="text" /></td>
          </tr>
        </tbody>
      </table>

      <button class="save-btn">SAVE</button>
    </section>
  </div>
</body>
</html>
